@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --max-line-height: 4.5lh;

  --medium-font-weight: 400;
  --hero-font-weight: 800;

  --default-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --bigger-font-size: 2rem;
  --hero-font-size: 12rem;

  --xxs-space: 0.25rem;
  --xs-space: 0.5rem;
  --s-space: 0.75rem;
  --m-space: 1rem;
  --l-space: 1.25rem;
  --xl-space: 1.5rem;
  --xxl-space: 1.75rem;
  --xxxl-space: 2rem;

  --main-color: rgba(0, 0, 0, 0.9);
  --faded-color: rgba(0, 0, 0, 0.5);
  --faded-light-color: rgba(255, 255, 255, 0.5);
  --accent-color: white;

  --quote-max-width: 50vw;
  --greeting-container-distance-from-top: 2vh;
  --date-container-distance-from-top: 33vh;
  --focus-container-distance-from-bottom: 37vh;
  --prompt-container-distance-from-bottom: 22vh;
  --quote-container-distance-from-bottom: 2vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--main-color);
}

body {
  min-height: 100vh;
  background-color: #222;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(var(--xxs-space));

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.greeting-container {
  top: var(--greeting-container-distance-from-top);
  font-size: var(--medium-font-size);
}

.focus-display {
  font-size: var(--medium-font-size);
}

.quote-display {
  bottom: var(--quote-container-distance-from-bottom);
  font-size: var(--medium-font-size);
  max-width: var(--quote-max-width);
  text-align: center;
}

.to-do-container {
  width: 20vw;
  height: 100vh;
  padding: var(--m-space);
  gap: var(--s-space);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--faded-light-color);
  backdrop-filter: blur(var(--m-space));
  bottom: 0;
  right: 0;
}

.to-do-list {}

.to-do-item {
  list-style-type: none;
  text-align: left;
}

.to-do-checkbutton {
  border: none;
  background: none;
  margin-right: var(--xxs-space);
}

.to-do-checkbutton:hover {
  cursor: pointer;
}

.greeting-name-display,
.focus-display,
.quote-display,
.to-do-display {
  padding: var(--xxs-space) 0;
  transition: background 0.1s ease-in-out, padding 0.1s ease-in-out;
  border-radius: var(--xs-space);

  &:focus {
    padding: var(--xxs-space) var(--s-space);
    background: var(--faded-light-color);
    outline: none;
  }
}

.greeting-container,
.focus-display,
.quote-display {
  visibility: hidden;
  /* display: none; */
  max-height: var(--max-line-height);
  text-align: center;
}

.greeting-container,
.quote-display {
  margin: var(--s-space);
}

.prompt-container,
.to-do-container {
  position: absolute;
}

.date-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.year-display {
  color: var(--faded-color);
}

.weekday-display,
.month-display,
.day-display {
  font-size: var(--bigger-font-size);
}

.clock-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'time seconds'
    'time am-pm';
  align-items: center;
  justify-items: center;
  row-gap: var(--l-space);
}

.time-display {
  font-size: var(--hero-font-size);
  font-weight: var(--hero-font-weight);
  grid-area: time;
  /* font-variant-numeric: tabular-nums; */
}

.am-pm-display,
.seconds-display {
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
}

.am-pm-display {
  grid-area: am-pm;
  font-variant: small-caps;
}

.seconds-display {
  grid-area: seconds;
  font-variant-numeric: tabular-nums;
}

.prompt-container {
  bottom: var(--prompt-container-distance-from-bottom);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--xs-space);
}

.prompt-label {
  font-size: var(--medium-font-size);
}

.prompt-input,
.to-do-input {
  padding: var(--s-space);
  text-align: center;
  border: 2px var(--accent-color);
  border-style: none none solid none;
  border-radius: var(--xs-space);
  background-color: var(--faded-color);
  color: white;

  &:focus {
    outline: none;
  }
}

.prompt-input::placeholder {
  color: var(--faded-light-color);
}

.submit-button {
  border: none;
  text-decoration: underline;
  background: none;
  color: var(--faded-color);
  cursor: pointer;
}

.prompt-input-focus {
  width: 50vw;
}

.fade-in-slide-up {
  animation: fade-in-slide-up 500ms ease-in-out both;
}

@keyframes fade-in-slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-fast {
  animation: fade-in 500ms ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out-fast {
  animation: fade-out 500ms ease-in-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
